---
---

@import "{{ site.theme }}";

p {
    text-align: justify;
}

.preview-container::after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

.preview-thumbnail-container {
    width: 250px;
    float: left;
    margin: 0 15px 15px 0;
}

.preview-thumbnail-container a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-thumbnail {
    max-width: 250px;
    max-height: 187.5px;
}

.embedded-4by3 {
    width: 100%;
    aspect-ratio: 4/3;
}

.embedded-16by9 {
    width: 100%;
    aspect-ratio: 16/9;
}

$github-colour: rgb(101, 109, 118);

.github-bookmark {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: $github-colour;
    padding: 3px 10px 3px 10px;
    margin-bottom: 13px;
}

.github-bookmark h4 {
    margin-bottom: 0;
    color: $github-colour;
}

.github-bookmark p, .caption {
    margin-bottom: 5px;
    font-size: 14px;
    color: $github-colour;
}

.github-bookmark img {
    margin-bottom: 7px;
    width: 200px;
}

.github-explainer {
    font-size: 14px;
    float: right;
    vertical-align: text-top;
    font-style: italic;
}

.github-repo-icon {
    fill: $github-colour;
}

.centred {
    text-align: center;
    margin: 0 auto;
    display: block;
}

@media only screen and (max-width: 600px) {
    .preview-thumbnail-container {
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
    }

    .preview-thumbnail {
        max-width: 100%;
        max-height: 250px;
    }
}